@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #111827;
    max-height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

ion-icon {
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2563eb;
}

::-webkit-scrollbar-track {
    background: #1f2937;
}